<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"
        type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../index.css">
</head>

<body>
    <div>
        <a href="/chart/detail">원하는 날짜 지정</a>
    </div>
    <div class="myChart">
        <canvas id="myChart"></canvas>

        <!-- 컨트롤러 -->
        <div>
            <span class="label">duration:</span>
            <span id="durationValue" class="value">20000</span>
            <span><input type="range" min="1000" max="60000" step="100" value="20000" id="duration"
                    class="control"></span>
        </div>
        <div>
            <span class="label">ttl:</span>
            <span id="ttlValue" class="value">60000</span>
            <span><input type="range" min="1000" max="60000" step="100" value="60000" id="ttl" class="control"></span>
        </div>
        <div>
            <span class="label">refresh:</span>
            <span id="refreshValue" class="value">1000</span>
            <span><input type="range" min="50" max="3000" step="50" value="1000" id="refresh" class="control"></span>
        </div>
        <div>
            <span class="label">delay:</span>
            <span id="delayValue" class="value">2000</span>
            <span><input type="range" min="0" max="5000" step="100" value="2000" id="delay" class="control"></span>
        </div>
        <div>
            <span class="label">frameRate:</span>
            <span id="frameRateValue" class="value">30</span>
            <span><input type="range" min="1" max="60" step="1" value="30" id="frameRate" class="control"></span>
        </div>
        <div>
            <span class="label">pause:</span>
            <span id="pauseValue" class="value">false</span>
            <span><input type="checkbox" id="pause" class="control"></span>
        </div>
    </div>


    <!-- 막대 습도그래프  -->
    <div class="barChart">
        <canvas id="humiditybarChart"></canvas>
        <!-- <button id="selectData">데어터 평균 보기</button> -->
    </div>
    <!-- 막대  온도그래프-->
    <div class="barChart">
        <canvas id="temperaturebarChart"></canvas>
        <!-- <button id="selectData">데어터 평균 보기</button> -->
    </div>
    <!-- 막대 전력그래프 -->
    <div class="barChart">
        <canvas id="wattbarChart"></canvas>
        <!-- <button id="selectData">데어터 평균 보기</button> -->
    </div>


</body>
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
    integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
    crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src=”/socket.io/socket.io.js”></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- 실시간 그래프 그리기 -->
<script src="./js/realtimeChart.js"></script>

<script>
    window.onload = function () {
        //document.getElementById('selectData').addEventListener('click', selsetData);
        const ctx = document.getElementById('myChart').getContext('2d');
        window.myChart = new Chart(ctx, config);
    };
    // 실시간 차트 컨트롤러
    document.getElementById('duration').addEventListener(isIE ? 'change' : 'input', function () {
        config.options.scales.xAxes[0].realtime.duration = +this.value;
        window.myChart.update({ duration: 0 });
        document.getElementById('durationValue').innerHTML = this.value;
    });

    document.getElementById('ttl').addEventListener(isIE ? 'change' : 'input', function () {
        config.options.scales.xAxes[0].realtime.ttl = +this.value;
        window.myChart.update({ duration: 0 });
        document.getElementById('ttlValue').innerHTML = this.value;
    });

    document.getElementById('refresh').addEventListener(isIE ? 'change' : 'input', function () {
        config.options.scales.xAxes[0].realtime.refresh = +this.value;
        window.myChart.update({ duration: 0 });
        document.getElementById('refreshValue').innerHTML = this.value;
    });

    document.getElementById('delay').addEventListener(isIE ? 'change' : 'input', function () {
        config.options.scales.xAxes[0].realtime.delay = +this.value;
        window.myChart.update({ duration: 0 });
        document.getElementById('delayValue').innerHTML = this.value;
    });

    document.getElementById('frameRate').addEventListener(isIE ? 'change' : 'input', function () {
        config.options.plugins.streaming.frameRate = +this.value;
        window.myChart.update({ duration: 0 });
        document.getElementById('frameRateValue').innerHTML = this.value;
    });

    document.getElementById('pause').addEventListener('change', function () {
        config.options.scales.xAxes[0].realtime.pause = this.checked;
        window.myChart.update({ duration: 0 });
        document.getElementById('pauseValue').innerHTML = this.checked;
    });
</script>

<!-- 막대 차트 그리기 JS 모듈 사용 -->
<script type="module">
    import { bar } from '../js/barchart.js';
    // 요청으로 전력, 온도, 습도 시간, 일, 월 데이터 평균 합계 가져오기
    axios.get('/sensor/data')
        .then((response) => {
            // 모듈로 받아온 데이터 넘기기
            return bar(response.data);
        })
        .catch((error) => {
            return alert(error);
        });
</script>

</html>