body {
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
}

.button {
    display: block;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.label {
    display: inline-block;
    text-align: right;
    width: 90px;
}

.value {
    display: inline-block;
    text-align: left;
    width: 60px;
}

.control {
    width: 100px;
}

.myChart {
    margin: 0 auto;
    width: 1000px;
    display: flex;

}

.barChart {
    margin: 0 auto;
    width: 1000px;
    height: 500px;
}